.landing__container {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  width: 90%;
  margin: 0px 109px 67px 100px;
  display: flex;
  justify-content: space-between;

  .landing__desc {
    width: 40%;
    h1 {
      font-weight: 400;
      font-size: 56px;
      line-height: 140%;
      color: #434343;

      letter-spacing: -0.02em;
      b {
        color: #a02279;
      }
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #434343;
    }
    .landing__search {
      input {
        background: rgba(247, 247, 247, 0.1);
        border: 1px solid #a3a3a3;
        border-radius: 8px 0px 0px 8px;
        height: 54px;
        width: 60%;
      }
      ::placeholder {
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #b8b8b8;
      }
      button {
        // height: 56px;
        width: 30%;
        border-radius: [object Object]px;
        background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
        border-radius: 0px 8px 8px 0px;
        border: 1px solid #a02279 ;
        margin: 0px 0px 0px -5px;
   
        

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  .landing__images {
    height: 459px;
width: 476px;
margin: 0px 119px 67px 99px;


  //   img{
  // width: 100%;

  //   }
  }
}

@media screen and (min-width:350px) and (max-550px) {
  .landing__container {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  width: 90%;
  margin: 0px 109px 67px 100px;
  display: flex;

flex-direction: column;
justify-content: center;
align-items: center;

  .landing__desc {
    width: 40%;
    h1 {
      font-weight: 400;
      font-size: 56px;
      line-height: 140%;
      color: #434343;

      letter-spacing: -0.02em;
      b {
        color: #a02279;
      }
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #434343;
    }
    .landing__search {
      input {
        background: rgba(247, 247, 247, 0.1);
        border: 1px solid #a3a3a3;
        border-radius: 8px 0px 0px 8px;
        height: 54px;
        width: 60%;
      }
      ::placeholder {
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #b8b8b8;
      }
      button {
        // height: 56px;
        width: 30%;
        border-radius: [object Object]px;
        background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
        border-radius: 0px 8px 8px 0px;
        border: 1px solid #a02279 ;
        margin: 0px 0px 0px -5px;
   
        

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  .landing__images {
    height: 459px;
width: 476px;
margin: 0px 119px 67px 99px;


  //   img{
  // width: 100%;

  //   }
  }
}
}