.partnership__container{
    width: 100%;
    padding: 0px 100px 0px 100px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    .icon{
 width: 50%;
    }

}