.partnership__container {
  width: 100%;
  padding: 0px 100px 0px 100px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  width: 100%;
  display: flex;
  justify-content: space-between;

  .icon {
    width: 50%;
  }
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  .partnership__container {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .icon {
      margin-left: 25%;
      width: 50%;
    }
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .partnership__container {
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .icon {
      margin-left: 25%;
      width: 50%;
    }
  }
}
