.addventure__comp {
  height: 963px;
  background: #ffffff;
  padding: 0px 100px 0px 100px;
  margin: 58px 0px 53px 0px;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
  }

  .addventure__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .add__wrapper {
      height: 372px;
      flex: 20%;
      margin: 10px;
      background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
      border: 1px solid #d7d7d7;
      border-radius: 15px;

      .image__ad {
        border: 1px solid #d7d7d7;
        border-radius: 15px;
        img {
          padding: 1em;
          width: 100%;
          height: 265px;
        }
      }
      .add__conatiner {
        display: flex;
        justify-content: space-between;
        padding: 1em 1em 0em 1em;

        .add_description {
          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 13px;
            color: #434343;
            padding-bottom: .7em;
          }
          .icon {
            width: 12px;
            height: 12px;
            margin: 2px;
          }
        }
        .offer {
          font-weight: 700;
          font-size: 12px;
          line-height: 13px;
           padding-bottom: .7em;
        }
        .duration {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 13px;
          color: #434343;
           padding-bottom: .7em;
        }
      }
    }
  }
}
@media screen and (min-width: 350px) and (max-width: 650px) {
  .addventure__comp {
    min-height: 550vh;
    max-height: 750vh;
    padding: 0px 20% 0px 15%;

    .addventure__body {
      flex-direction: column;

      .add__wrapper {
        flex: 100%;
        height: 372px;

        .image__ad {
          img {
            padding: 1em;
            width: 100%;
            height: 265px;
          }
        }
        .add__conatiner {
          display: flex;
          justify-content: space-between;

          .add_description {
            .icon {
              width: 12px;
              height: 12px;
              margin: 2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
  .addventure__comp {
     min-height: 550vh;
    max-height: 750vh;
    margin: 58px 0px 53px 0px;
    padding: 0px 20% 0px 15%;
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      color: #000000;
    }

    .addventure__body {
      display: flex;
      flex-direction: column;

      .add__wrapper {
        flex: 50%;
        margin: 10px;

        height: 672px;

        // margin: 0px 5px 10px 5px;

        .image__ad {
          img {
            padding: 1em;
            width: 100%;
            height: 265px;
          }
        }
        .add__conatiner {
          display: flex;
          justify-content: space-between;

          .add_description {
            .icon {
              width: 12px;
              height: 12px;
              margin: 2px;
            }
          }
        }
      }
    }
  }
}
