.header__wrapper {
 
  .logo__warapper {

    width: 40%;
    .header__logo {
      height: 36.66666793823242px;
      width: 233px;
    }
  }

  }


@media screen and (max-width: 869px) {
 
  .header__wrapper {
 
    margin: 0;
    padding: 0.5em;
    padding: 1em;
  .logo__warapper {
    width: 40%;
    .header__logo {
      height: 25.5px;
      width: 158.7px;
    }
  }

  }

}
