.header__wrapper {
 
  // margin: 2em;

  padding: 1em;
  .logo__warapper {
    // background-color: red;
    width: 40%;
    .header__logo {
      height: 36.66666793823242px;
      width: 233px;
    }
  }

  }


@media screen and (max-width: 869px) {
  .nav-container {
    margin: 0;
    padding: 0.5em;
  }
}
